.hb::before,
.ha::after {
  content: "";
  display: block;
  position: absolute;
}

body{
    
    background-color: #fff;
}
.cartoon{
    --skin:#fca;
    --iris: rgb(69, 235, 144);
    --hair: rgb(180, 28, 8);
    --shirt: #eef4ff;
    --line: rgba(80,0,0,0.15);
}
.face{
    width: 15%;
    height: 50%;
    background: var(--skin);
    border-radius: 100% 100% / 20% 20% 120% 120%;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.neck{
    width: 6.5%;
    height: 20%;
    background: var(--skin);
    top:55%;
    left: 50%;
    transform: translate(-50%, 0);
    border-radius: 8vmin;
    box-shadow: inset 0 25.5vmin 0 -15vmin rgba(80, 0, 0, 0.1);
    position: absolute;
}

.mouth{
    width: 20%;
    height: 2.5%;
    bottom: 18%;
    left:50%;
    position: absolute;
    border-radius: 0% 0% 50% 50% ;
    transform: translate(-50%, 0) ;
    background:rgb(232, 54, 87);
}
.mouth-1{
    width: 60%;
    height: 100%;
    background: rgb(232, 54, 87);
    right: 0%;
    top: -50%;
    position: absolute;
    border-radius:  50% ;
   
}


.mouth-1 +.mouth-1{
    transform: scaleX(-1);
    right: auto;
    left: 0%;
}

.nose{
    width: 16%;
    height: 30%;
    background: rgba(80, 0, 0, 0.2);
    top:53%;
    left: 50%;
    transform: translate(-50%, -40%);
    position: absolute;
    clip-path: polygon(50% 0%, 60% 88%, 0% 85%, 55% 100%, 100% 88%);
}

.ear{
    width: 3.5%;
    height: 18%;
    border-radius: 90% 100% 70% 100% / 70% 100%;
    background: var(--skin);
    transform: rotate(-11deg);
    top: 32%;
    left: 39.7%;
    position: absolute;
    box-shadow: inset -9vmin 0 0 -7vmin rgba(80, 0, 0, 0.125);
}

.ear + .ear {
    transform: scaleX(-1) rotate(-11deg);
    left: 56.8%;
    right: 27.125%;
}

.ear:before {
    width: 60%;
    height: 80%;
    border-radius: 100% 50% 0 0;
    border: 0.25vmin solid var(--line);
    border-left-color: transparent;
    border-bottom-color: transparent;
    top: 15%;
    left: 4%;
    clip-path: polygon(0% 0%, 100% 0%, 100% 50%, 0% 50%);
  }

  .ear:after {
    width: 2vmin;
    height: 2vmin;
    border: 0.25vmin solid var(--line);
    border-radius: 50%;
    top: 60%;
    right: 8%;
  }

.eye{
    position: absolute;
    width: 40%;
    height: 20%;
    background: white;
    border-radius: 80% 90% 30% 40% /70% 100% 90% 100%;
    top:25%;
    right: 7%;
    box-shadow: 0 -0.5vmin rgba(7, 0, 0, 0.719);
    overflow: hidden;
}

.eyebrow{
    width: 40%;
    height: 20%;
    position: absolute;
    top: 18%;
    right: 7%;
    border-radius: 100% 0 30% 40% / 55% 50% 20% 90%;
    box-shadow: -0.25vmin -1.5vmin 0 -0.25vmin var(--hair);
    transform: rotate(8deg);
}

.eyebrow + .eyebrow {
    transform: scaleX(-1) rotate(10deg);
    border-radius: 100% 0 30% 40% / 55% 50% 20% 90%;;
    left: 7%;
    right: auto;
}
.pupil{
    width: 25%;
    height: 50%;
    background: #000;
    border-radius: 50%;
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%, -40%);
    box-shadow: 0 0 0 2vmin var(--iris);
}

.eye-bright{
    position: absolute;
    width: 1vmin;
    height: 1vmin;
    background:white;
    border-radius: 50%;
    top:20%;
    left: 40%;
    box-shadow: -0.5vmin 0.75vmin 0 -0.25vmin white;
}

.eye + .eye {
    transform: scaleX(-1);
    right: auto;
    left: 7%;
}

.eye + .eye .eye-bright {
    left: 50%;
    box-shadow: 0.5vmin 0.75vmin 0 -0.125vmin white;
}

.cheek{
    width: 30%;
    height: 13%;
    background: #f004;
    border-radius: 20% 20% 100% 100%;
    top: 59%;
    left: 18%;
    position: absolute;
    transform: translate(-50%, -50%);
    filter: blur(1.5vmin);
}

.cheek+.cheek{
    transform: scaleX(-1);
    left: auto;
    right: 5%;
    top: 53%;
}

.hair-back{
    width: 25%;
    height: 79%;
    background: var(--hair);
    position: absolute;
    top: 4.9%;
    transform: translate(-50%, 0);
    left: 50%;
    border-radius: 100% 100% / 90% 90% 20% 20%;
}
.hair-front-1{
    width: 12%;
    position: absolute;
    height: 17%;
    background: var(--hair);
    border-radius: 0 100% 0 100%;
    left: 48.5%;
    top:5%;
} 

.hair-front-2{
    width: 12%;
    position: absolute;
    height: 21.5%;
    background:  var(--hair);
    border-radius: 100% 0 120% 0;
    left: 38%;
    top:6%;
    transform: rotate(-3deg);
} 


.forehead{
    position: absolute;
    width: 17%;
    height: 6%;
    border-radius:  50%;
    background: var(--skin);
    top: 15.6%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.hair-bangs{
    width: 12%;
    position: absolute;
    height: 21.5%;
    border-radius: 50%;
    transform: rotate(-10deg);
    left: 37%;
    top: 3.5%;
    box-shadow: 3vmin 0  var(--hair);
    clip-path: polygon(0% 50%, 150% 50%, 150%
    100%, 0% 100%);
}

.strand{
    width: 35%;
    position: absolute;
    height: 25%;
    border-radius: 50%;
    transform: rotate(180deg);
    left: -6%;
    top: 29%;
    background: var(--hair);
    box-shadow: 2vmin 0 rgb(158, 3, 3);
   
}
.strand +.strand{
    transform: scale(-1) skew(-2deg) rotate(15deg);
    left: -10%;
    right: auto;
    top: 52%;
}
.strand +.strand + .strand{
    transform: scale(-1) skew(-5deg) rotate(15deg);
    left: -18%;
    right: auto;
    top: 73%;
}


.strand-1{
    width: 35%;
    position: absolute;
    height: 25%;
    border-radius: 50%;
    transform: rotate(1deg);
    right: -7%;
    top: 29%;
    background: var(--hair);
    box-shadow: 2vmin 0 rgb(167, 5, 5);
}
.strand-1 +.strand-1{
    transform: scale(-1) skew(-2deg) rotate(180deg);
    right: -12%;
    left: auto;
    top: 52%;
}
.strand-1 +.strand-1 + .strand-1{
    transform: scale(-1) skew(-5deg) rotate(180deg);
    right: -20%;
    left: auto;
    top: 73%;
}

/*.shirt-neck{
    position: absolute;
    width: 4%;
    height: 7%;
    background: var(--shirt);
    top:76%;
    left: 44.5%;
    box-shadow: inset 0 0 0 5vmin rgba(0, 0, 0, 0.1);
    transform: skew(-10deg) rotate(15deg);
}

.shirt-neck + .shirt-neck{
    transform: scaleX(-1) skew(-10deg) rotate(15deg);
    left: auto;
    right: 44.5%;
}*/

.shoulders{
    width: 20%;
    height: 20%;
    background: var(--skin);
    border-radius: 50%;
    position: absolute;
    top: 67%;
    left: 50%;
    transform: translate(-50%, 0);
    clip-path: polygon(0% 40%, 40% 10%, 40% 0%, 60% 0%,
    60% 10%, 100% 40%, 100% 100%, 0% 100%);

}